---
import Badge from '@/components/Badge.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
    title='Design System'
    description='List of reusable portfolio components'
>
    <h1>&lt;Badge /&gt;</h1>
    <Badge> Tailwind </Badge>
</Layout>