---
import Layout from '../layouts/Layout.astro'

import AboutMe from '../components/AboutMe.astro'
import Badge from '../components/Badge.astro'
import CardContact from '../components/CardContact.astro'
import CardProfilePhoto from '../components/CardProfilePhoto.astro'
import CardLink from '../components/CardLink.astro'
import CardSubtitle from '../components/CardSubtitle.astro'
import CardTheme from '../components/CardTheme.astro'
import CardTitle from '../components/CardTitle.astro'
import Contact from '../components/Contact.astro'
import Experiencie from '../components/ExperienceTimeline.astro'
import Learning from '../components/EducationTimeline.astro'
import Projects from '../components/Proyects.astro'

import AboutMeIcon from '../icons/AboutMe.astro'
import BooksIcon from '../icons/Books.astro'
import ExperienceIcon from '../icons/Experience.astro'
import ProjectsIcon from '../icons/Proyects.astro'
import CardLocation from '@/components/CardLocation.astro'
import CardBadge from '@/components/CardBadge.astro'
import CardClock from '../components/CardClock.astro'
---

<Layout 
	title="Omar Delgado López - portfolio"
	description="Contrata a Omar, futuro graduado para finales de junio de 2024 en Ingeniería de Tecnologías de Telecomunicación en la Universidad de Vigo."
>
	<main>
		<section id="inicio" class="w-full mx-auto lg:w-[1240px] pt-28">
			<div class="animate-fade-left animate-ease-linear animate-duration-500 grid-container grid-rows-4 grid-cols-2 gap-6">
				<CardBadge 
					link='https://www.linkedin.com/in/omar-d-l'
				/>

				<CardTheme />

				<CardClock />

				<CardContact />
				
				<CardLink />

				<CardLocation 
					img='/Vigo.webp'
				/>

				<CardProfilePhoto 
					img='/me.webp'
				/>

				<CardSubtitle
					text1='A un paso de entregar el TFG y terminar el grado en'
					text1_span='Ingeniería de Tecnologías de Telecomunicación'
					text2='en la'
					text2_span='Universidad de Vigo.'
					text3='Especializado en la'
					text3_span='rama telemática.'
				/>

				<CardTitle 
					name='Omar Delgado'
				/>				
			</div>
			<a href="#formacion">
				<div class="mt-5 absolute flex justify-center bottom-1rem left-1/2 mr-2 w-6 h-10 px-2 py-3 border border-2 border-white rounded-full opacity-75">
					<div class="rounded-full mt-[0.5px] bg-white w-[3px] h-[5px] scroll-animation">
					</div>
				</div>
			</a>
			
		</section>

		<section id="formacion" class="w-full mx-auto lg:w-[1240px] pt-24">
			<h2 class="text-3xl font-semibold mb-5 flex gap-x-2 items-center">
				<BooksIcon class="size-8"/>
				Formación	
			</h2>
			<Learning />
		</section>

		<section id="experiencia" class="w-full mx-auto lg:w-[1240px] pt-24">
			<h2 class="text-3xl font-semibold mb-5 flex gap-x-2 items-center">
				<ExperienceIcon class="size-8"/>
				Experiencia
			</h2>
			
			<Experiencie />
		</section>

		<section id="proyectos" class="w-full mx-auto lg:w-[1240px] pt-24">
			<h2 class="text-3xl font-semibold mb-5 flex gap-x-2 items-center">
				<ProjectsIcon class="size-8"/>
				Proyectos
			</h2>
			
			<Projects />
		</section>

		<section id="sobremi" class="w-full mx-auto lg:w-[1240px] pt-24">
			<h2 class="text-3xl font-semibold mb-5 flex gap-x-2 items-center">
				<AboutMeIcon class="size-8"/>
				Sobre mi
			</h2>
			
			<AboutMe />
		</section>		
	</main>
</Layout>

<style>
/** animate-pop duration-500 ease-[cubic-bezier(0.26, 0.53, 0.74, 1.48)] */
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
</style>