<section class='flex justify-center items-center gap-x-4'>
    <div class='grid-shadow [&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty border-[#212121] bg-[#212121] backdrop-blur-sm bg-opacity-40 rounded-3xl'>
        <p>
            <strong> Empecé la carrera de Teleco, </strong> me apasionó, me obsesioné, me frustré y la abandoné para <strong> hacer un FP. </strong> Años después volví, la afronté, me apasionó de nuevo y la superé. No estoy tranquilo si no <strong> peleo por algo hasta el final. </strong>
        </p>
        <p> 
            <strong> Soy un culo inquieto. </strong> Demasiado curioso por el desarrollo software, no puedo dejar pasar la oportunidad de aprender nuevos lenguajes, frameworks y tecnologías.  
        </p>
        <p> 
            Un poco tímido e introvertido al principio, rodearme de gente con la que poder <strong> formar equipo </strong> aprendiendo de los mejores y ayudando me motiva y <strong> me impulsa a dar lo mejor de mi.</strong>
        </p>
        <p>
            <strong> No me han contratado todavía pero </strong> la experiencia de todo lo aprendido en mis estudios, los proyectos realizados y cada trabajo en equipo <strong> me han enseñado mucho que aportar.</strong>
        </p>
        <p>
            La pasión por lo técnico <strong> no siempre lo es todo.</strong> Cuando un proyecto permite ayudar y aportar un beneficio a los demás, creo que <strong> realmente marca la diferencia. </strong>
        </p>
    </div>
    <img
		class="rounded-full size-64 bg-inherit"
		src="/programming.webp"
		alt="profile photo"
	/>
</section>


<section>
    <div>
        <p class="typewriter"> “La única manera de estar verdaderamente satisfecho es hacer lo que crees que es un gran trabajo. Y la única manera de hacer un gran trabajo es amar lo que haces. Si aún no lo has encontrado, sigue buscando. No te conformes. Al igual que con todos los asuntos del corazón, lo sabrás cuando lo encuentres. - Steve Jobs.” </p>
    </div>
    <div>
        <p class="typewriter"> “The only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it. – Steve Jobs.” </p>
    </div>
</section>


