---
import Badge from './Badge.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
    img: string;
}

const { img } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="shadow-grid-mini flex justify-center items-end bg-top md:bg-center xl:bg-left hover:shadow-none dark:shadow-grid hover:dark:shadow-grid-hover col-start-1 col-span-1 xl:col-span-3 row-span-2 row-start-2 rounded-3xl transition-transform border-[#212121] duration-300 hover:scale-105" style={`background-image: url('${img}'); background-size:cover;`} >
    <a href='https://www.linkedin.com/in/omar-d-l' target="_blank" rel="noopener noreferer" class="flex md:hidden mb-2 w-19/20 h-[30px] md:h-[50px] items-center transition md:justify-center" >
        <Badge> {t('badge')} </Badge> 
    </a>
</div>