---
import Badge from './Badge.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
    link: string;
}

const { link } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-center justify-center row-start-4 col-start-1">
    <a
      href={link}
      target="_blank"
      rel="noopener noreferer"
      class="flex items-center transition md:justify-center"
    >
        <Badge> {t('badge')} </Badge> 
    </a>
</div>

