<div class="shadow-grid-mini hover:shadow-grid-hover-mini dark:shadow-grid hover:dark:shadow-grid-hover overflow-hidden relative row-start-3 col-start-3 flex flex-col px-6 py-3 border-[1px] border-[#212121] hover:border-blue-800 hover:dark:border-sky-400 backdrop-blur-sm bg-opacity-40 text-sky-700 dark:text-sky-400 text-pretty rounded-3xl">
    
    <div id="spotClock1" class="absolute z-10 duration-1000 size-72 rounded-full bg-sky-400 dark:bg-sky-900 opacity-50 blur-md ml-16 -mt-56" />
    <div id="spotClock2" class="absolute z-10 duration-1000 size-12 rounded-full bg-blue-400 dark:bg-blue-800 opacity-70 blur-md ml-24 mt-2" />
    <p id="time" class="opacity-0 transition duration-1000 ease z-20 text-[32px] font-bold" />
    <p id="date" class="opacity-0 transition duration-1000 ease z-20 text-xs font-semibold" />

</div>

<script>    
    
    import { getLangFromUrl } from '../i18n/utils';

    function updateDateTime() {

        const lang = getLangFromUrl(new URL(window.location.href));

        const now = new Date();

        const timeElement = document.getElementById('time');
        const dateElement = document.getElementById('date');

        let time: string | null;
        let date: string | null;

        if (lang == 'es') {

            time = now.toLocaleTimeString("es-ES", { hour: '2-digit', minute: '2-digit' });
            date = now.toLocaleDateString("es-ES", { weekday: 'long' }) + ', ' + now.toLocaleDateString("es-ES", { day: 'numeric' }) + ' de ' + now.toLocaleDateString("es-ES", { month: 'long' })

        } else if (lang == 'en') {

            time = now.toLocaleTimeString("en-EN", { hour: '2-digit', minute: '2-digit', hour12: false });
            date = now.toLocaleDateString("en-EN", { weekday: 'long' }) + ', ' + now.toLocaleDateString("en-EN", { day: 'numeric' }) + ' ' + now.toLocaleDateString("en-EN", { month: 'long' })
        
        } else {

            time = now.toLocaleTimeString("es-ES", { hour: '2-digit', minute: '2-digit' });
            date = now.toLocaleDateString("es-ES", { weekday: 'long' }) + ', ' + now.toLocaleDateString("es-ES", { day: 'numeric' }) + ' de ' + now.toLocaleDateString("es-ES", { month: 'long' })

        }

        if (timeElement) {
            timeElement.textContent = time;
            timeElement.style.opacity = '1';
        }

        if (dateElement) {
            dateElement.textContent = date;
            dateElement.style.opacity = '1';
        }
    }

    setInterval(updateDateTime, 1000);

    window.addEventListener('scroll', function() {
        const scrolledY = window.scrollY; 
        const spot1 = document.getElementById('spotClock1');
        const spot2 = document.getElementById('spotClock2');
        if (spot1 && spot2) {
            spot1.style.transform = `translateY(${scrolledY / 3}px)`; 
            spot2.style.transform = `translateY(${scrolledY / 3}px)`; 
        }
    });

</script>