---
interface Props {
    name: string;
}

const { name } = Astro.props;

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="shadow-grid-mini hover:shadow-grid-hover-mini dark:shadow-grid hover:dark:shadow-grid-hover overflow-hidden row-start-1 col-start-1 col-span-2 md:col-span-3 xl:col-span-7 flex justify-center md:justify-start items-center border-[1px] border-[#212121] hover:border-blue-800 hover:dark:border-sky-400 icon backdrop-blur-sm bg-opacity-40 rounded-3xl">
    <div id="spotTitle1" class="absolute z-10 duration-1000 size-96 rounded-full bg-indigo-400 dark:bg-indigo-700 opacity-30 blur-md mr-96 md:mb-[320px] md:ml-[260px] lg:mb-[320px] lg:ml-[160px] xl:mb-[320px] xl:ml-[400px]" />
    <div id="spotTitle2" class="absolute z-10 duration-1000 size-12 rounded-full bg-sky-400 dark:bg-sky-700 opacity-50 blur-md mr-12 mb-12 md:mt-6 md:ml-[540px] lg:mt-6 lg:ml-[380px] xl:mt-6 xl:ml-[660px]" />
    <div id="spotTitle3" class="absolute z-10 duration-1000 size-0 md:size-24 rounded-full bg-cyan-400 dark:bg-cyan-600 opacity-30 blur-md md:mt-1 md:-ml-8 lg:ml-20 xl:ml-32" />
    
    <h1 class="z-20 duration-1000 text-gray-800/80 dark:text-white mx-2 md:mx-6 text-xl sm:text-4xl md:text-5xl lg:text-4xl xl:text-5xl font-bold"> 
        {t('title.text')} <span class="bg-gradient-to-r from-sky-700 from-0% via-sky-200 via-5% to-sky-700 to-10% dark:from-sky-400 dark:from-0% dark:via-[#ffffff] dark:via-5% dark:to-sky-400 to-10% text-transparent bg-clip-text animate-[shine-xs_3s_linear_infinite] sm:animate-[shine_3s_linear_infinite] md:animate-[shine-xl_3s_linear_infinite] lg:animate-[shine_3s_linear_infinite] xl:animate-[shine-xl_3s_linear_infinite]"> {name} </span>
    </h1>	
</div>

<style>
    @keyframes shine-xs {
        0% {
            background-position: -2px;
        }
        100% {
            background-position: 140px;
        }
    }

    @keyframes shine {
        0% {
            background-position: -10px;
        }
        100% {
            background-position: 250px;
        }
    }

    @keyframes shine-xl {
        0% {
            background-position: -10px;
        }
        100% {
            background-position: 330px;
        }
    }
</style>

<script>
    window.addEventListener('scroll', function() {
        const scrolledY = window.scrollY; 
        const spot1 = document.getElementById('spotTitle1');
        const spot2 = document.getElementById('spotTitle2');
        const spot3 = document.getElementById('spotTitle3');
        if (spot1 && spot2 && spot3) {
            spot1.style.transform = `translateY(${scrolledY / 3}px)`; 
            spot2.style.transform = `translateY(${scrolledY / 3}px)`; 
            spot3.style.transform = `translateY(${scrolledY / 3}px)`; 
        }
    });
  </script>