---
import { languages } from '../i18n/ui';

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import FlagEN from '../icons/FlagEN.astro'
import FlagES from '../icons/FlagES.astro'
import LangIcon from '../icons/Language.astro'
---

<div class="shadow-grid hover:shadow-grid-hover relative row-start-3 text-lg col-start-4 flex justify-center items-center border-[#212121] bg-[#212121] backdrop-blur-sm bg-opacity-40 rounded-3xl">

  <div class="absolute overflow-hidden w-full h-full rounded-3xl">
    <div id="spotLang1" class="absolute z-10 duration-1000 size-72 rounded-full bg-sky-900 opacity-50 blur-md -mt-52 -ml-28" />
    <div id="spotLang2" class="absolute z-10 duration-1000 size-12 rounded-full bg-indigo-700 opacity-70 blur-md -mt-32 ml-12" />
  </div>

  <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="z-20 text-white bg-blue-700 hover:bg-blue-800 gap-x-2 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Language <LangIcon class="size-6"/>
  </button>
    

  <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-sky-400/80" aria-labelledby="dropdownDefaultButton">
      <li>
        <a href="/" class="flex flex-row items-center block px-2 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> 
          <FlagES className="size-8 mr-2"/>
          {t('lang.es')}
        </a>
        {Object.entries(languages).map(([lang, label]) => (
          <a href={`/${lang}/`} class="flex flex-row items-center block px-2 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> 
            {lang === 'en' && <FlagEN className="size-8 mr-2" />}
            {lang === 'en' && t('lang.en')}
          </a>
        ))}
      </li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const dropdownButton = document.getElementById("dropdownDefaultButton");
    const dropdownMenu = document.getElementById("dropdown");

    if (dropdownButton && dropdownMenu) {
      dropdownButton.addEventListener("click", function() {
      dropdownMenu.classList.toggle("hidden");
    });
    }
  });

  window.addEventListener('scroll', function() {
      const scrolledY = window.scrollY; 
      const spot1 = document.getElementById('spotLang1');
      const spot2 = document.getElementById('spotLang2');

      if (spot1 && spot2) {
          spot1.style.transform = `translateY(${scrolledY / 3}px)`; 
          spot2.style.transform = `translateY(${scrolledY / 3}px)`; 
      }
  });
</script>