<div id="particles-js" class="overflow-hidden shadow-grid-mini hover:shadow-grid-hover-mini dark:shadow-grid hover:dark:shadow-grid-hover row-start-3 col-start-4 flex justify-center items-center border-[1px] border-[#212121] hover:border-blue-800 hover:dark:border-sky-400 rounded-3xl">

    <img src="/laptop.webp" alt="Second card span image Home section" class="size-full">

</div>
