---
import Badge from './Badge.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
    link: string;
}

const { link } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="hidden md:flex flex-col items-center justify-center row-start-4 col-start-1 col-span-1 xl:col-span-3">
    <a
      href={link}
      target="_blank"
      rel="noopener noreferer"
      class="flex h-[30px] md:h-[50px] items-center transition md:justify-center"
    >
        <Badge> {t('badge')} </Badge> 
    </a>
</div>

