---
import LearningItem from "./EducationItem.astro"

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const LEARNING = [
    {
        date: t('education.date.1'),
        img: '/teleco.webp',
        location: 'Vigo, Pontevedra',
        place: t('education.place.1'),
        title: t('education.title.1'),
        position_text: 'col-start-1',
        position_image: 'col-start-2'
    },

    {
        date: t('education.date.2'),
        img: '/Farixa.webp',
        location: 'Orense',
        place: 'CIFP A Farixa',
        title: t('education.title.2'),
        position_text: 'col-start-2',
        position_image: 'col-start-1'
    },
]
---

<ol class="relative border-s border-gray-800 dark:border-gray-300 ml-4">   
    {
        LEARNING.map(learning => (
            <li class="mb-10 ms-6">  
                <LearningItem {... learning} />
            </li>    
        ))
    }            
</ol>