---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Julio - agosto, 2023',
        img: '/centum.jpg',
        job_description: 'Desarrollador de software',
        location: 'Vigo, Pontevedra',
        place: 'Centum research & technology',
        title: 'Prácticas del Grado en Ingeniería de Tecnologías de Telecomunicación'
    },

    {
        date: 'Febrero - marzo, 2023',
        img: '/uvigo_foro.jpg',
        job_description: 'Atención y asistencia al personal de los estands y conferencias. Apoyo y asistencia al personal encargado de la organización del foro.',
        location: 'Vigo, Pontevedra',
        place: 'Universidad de Vigo',
        title: 'Colaborador del Foro Tecnológico de empleo de la Universidad de Vigo'
    },

    {
        date: 'Mayo - junio, 2018',
        img: '/rla.jpg',
        job_description: 'Mantenimiento de sistemas informáticos y eléctricos',
        location: 'San Ciprián de Viñas, Ourense',
        place: 'Rodríguez López Auto',
        title: 'Prácticas como técnico en Sistemas Informáticos'
    },
    
    {
        date: 'Marzo - abril, 2018',
        img: '/elecnor.jpeg',
        job_description: 'Instalación y mantenimiento de sistemas de telecomunicación en viviendas y edificios',
        location: 'Ourense, Ourense',
        place: 'Elecnor',
        title: 'Prácticas como técnico en Sistemas de Telecomunicación'
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">                  
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-6">  
                <ExperienceItem {... experience} />
            </li>    
        ))
    }               
</ol>