---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Julio - agosto, 2023',
        img: '/Centum.webp',
        job_description: 'Desarrollador de software',
        location: 'Vigo, Pontevedra',
        place: 'Centum research & technology',
        title: 'Prácticas del Grado en Ingeniería de Tecnologías de Telecomunicación',
        web: 'https://www.centum-rt.com/'
    },

    {
        date: 'Febrero - marzo, 2023',
        img: '/UVigoForo.webp',
        job_description: 'Atención y asistencia al personal de los estands y conferencias. Apoyo y ayuda a la organización del foro.',
        location: 'Vigo, Pontevedra',
        place: 'Universidad de Vigo',
        title: 'Colaborador del Foro Tecnológico de Empleo de la Universidad de Vigo',
        web: 'https://minaseenerxia.uvigo.es/es/estudiantes/asociaciones-estudiantiles/foro-tecnoloxico-de-emprego/'
    },

    {
        date: 'Mayo - junio, 2018',
        img: '/RLA.webp',
        job_description: 'Mantenimiento de sistemas informáticos y eléctricos',
        location: 'San Ciprián de Viñas, Orense',
        place: 'Rodríguez López Auto',
        title: 'Prácticas como técnico en Sistemas Informáticos',
        web: 'https://www.rodriguezlopez.com/'
    },
    
    {
        date: 'Marzo - abril, 2018',
        img: '/Elecnor.webp',
        job_description: 'Instalación y mantenimiento de sistemas de telecomunicación en viviendas y edificios',
        location: 'Orense, Orense',
        place: 'Elecnor',
        title: 'Prácticas como técnico en Sistemas de Telecomunicación',
        web: 'https://www.elecnor.com/'
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">                  
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-6">  
                <ExperienceItem {... experience} />
            </li>    
        ))
    }               
</ol>