---
import ExperienceItem from "./ExperienceItem.astro"

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
    {
        date: t('experience.date.1'),
        img: '/Centum.webp',
        job_description: t('experience.job.1'),
        location: 'Vigo, Pontevedra',
        place: 'Centum research & technology',
        title: t('experience.title.1'),
        web: 'https://www.centum-rt.com/'
    },

    {
        date: t('experience.date.2'),
        img: '/UVigoForo.webp',
        job_description: t('experience.job.2'),
        location: 'Vigo, Pontevedra',
        place: t('experience.place.2'),
        title: t('experience.title.2'),
        web: 'https://minaseenerxia.uvigo.es/es/estudiantes/asociaciones-estudiantiles/foro-tecnoloxico-de-emprego/'
    },

    {
        date: t('experience.date.3'),
        img: '/RLA.webp',
        job_description: t('experience.job.3'),
        location: t('location.sancibrao') + ', ' + t('location.ourense'),
        place: 'Rodríguez López Auto',
        title: t('experience.title.3'),
        web: 'https://www.rodriguezlopez.com/'
    },
    
    {
        date: t('experience.date.4'),
        img: '/Elecnor.webp',
        job_description: t('experience.job.4'),
        location: t('location.ourense') + ', ' + t('location.ourense'),
        place: 'Elecnor',
        title: t('experience.title.4'),
        web: 'https://www.elecnor.com/'
    },
]
---

<ol class="relative border-s border-gray-800 dark:border-gray-300 ml-3">                  
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-6">  
                <ExperienceItem {... experience} />
            </li>    
        ))
    }               
</ol>