---
import HeartIcon from '../icons/Heart.astro';
---

<footer class="rounded-lg shadow m-4 bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="flex flex-row items-center gap-x-3 text-sm text-gray-500 sm:text-center dark:text-gray-400">
        <p>
            Made with
        </p> 
        <HeartIcon />
        <p>
            by Omar
        </p>
    </span>
    <ul class="flex flex-wrap gap-x-4 items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#inicio" class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-gray-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"> 
                Inicio
            </a>
        </li>
        <li>
            <a href="#formacion" class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-gray-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                Formacion 
            </a>
        </li>
        <li>
            <a href="#experiencia" class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-gray-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"> 
                Experiencia 
            </a>
        </li>
        <li>
            <a href="#proyectos" class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-gray-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
                Proyectos 
            </a>
        </li>
        <li>
            <a href="#sobremi" class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-gray-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"> 
                Sobre mi 
            </a>
        </li>
    </ul>
    </div>
</footer>