---
import AstroIcon from '../icons/AstroIcon.astro';
import HeartIcon from '../icons/Heart.astro';
import GitHubIcon from '../icons/GitHub.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import MailIcon from '../icons/Gmail.astro'
import TailwindIcon from '../icons/Tailwind.astro';

import Contact from '../components/Contact.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="rounded-lg w-17/20 md:w-[700px] lg:w-[980px] xl:w-[1240px] 2xl:w-17/20 mx-auto m-4 flex flex-col items-center justify-evenly text-gray-900/80 dark:text-white/80 font-semibold">
    <div class="w-full mx-auto max-w-screen-xl pt-2 flex flex-row items-center justify-center gap-x-2">
        <span>
            {t('footer.text1')} 
        </span> 
        <HeartIcon />
        <span>
            {t('footer.text2')} Astro
        </span>
        <AstroIcon class="size-6 mt-1 -ml-1 "/>
        <span>
            {t('footer.text3')} Tailwind
        </span>
        <TailwindIcon class="size-6 mt-[1px]" />
    </div>
    <div class="flex flex-row items-center justify-center h-12 gap-x-12 pt-12 pb-24">
        <div class="w-20">
            <Contact href='mailto:omardelgadlop@gmail.com' >    
                <MailIcon /> 
            </Contact>
        </div>

        <div class="w-20">
            <Contact href='https://www.linkedin.com/in/omar-d-l' >    
                <LinkedInIcon /> 
            </Contact>
        </div>

        <div class="w-20">
            <Contact href='https://github.com/omardl' >    
                <GitHubIcon /> 
            </Contact>
        </div>
    </div>
</footer>