---
import LanguageDropdown from './MenuDropdown.astro'
import NavItem from './NavItem.astro'
import ThemeToggle from './ThemeToggle.astro'

import AboutMeIcon from '../icons/AboutMe.astro'
import BooksIcon from '../icons/Books.astro'
import ExperienceIcon from '../icons/Experience.astro'
import HomeIcon from '../icons/Home.astro'
import LogoIcon from '../icons/Logo.astro'
import ProyectsIcon from '../icons/Proyects.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const NAVs = [
    {
        title: t('nav.home'),
        link: '#home',
        icon: HomeIcon
    }, 
    {
        title: t('nav.education'),
        link: '#education',
        icon: BooksIcon
    },
    {
        title: t('nav.experience'),
        link: '#experience',
        icon: ExperienceIcon
    },
    {
        title: t('nav.projects'),
        link: '#projects',
        icon: ProyectsIcon
    },
    {
        title: t('nav.aboutme'),
        link: '#aboutme',
        icon: AboutMeIcon
    }
]
---

<header id="headerComponent" class="flex flex-row items-center justify-between md:text-sm lg:text-base xl:text-lg fixed top-0 z-10 right-0 left-0 py-2 border-b-2 border-sky-700/90 dark:border-sky-400/90 dark:bg-none backdrop-blur-sm mx-auto w-17/20 md:w-[700px] lg:w-[980px] xl:w-[1240px] 2xl:w-17/20 h-[82px]">
        
    <LogoIcon class="size-16" /> 

    <nav class="hidden md:flex flex-row justify-center md:gap-x-3 lg:gap-x-6 xl:gap-x-12 2xl:gap-x-14 opacity-80">

        {
            NAVs.map(navItem => (  
                <NavItem link={navItem.link}>
                    <navItem.icon class="md:size-5 lg:size-6 xl:size-8"/>
                    <span> {navItem.title} </span>
                </NavItem>   
            ))
        }  

    </nav>

    <ThemeToggle /> 

    <LanguageDropdown />

</header>