---
import LanguageDropdown from './LanguageDropdown.astro'
import NavItem from './NavItem.astro'
import ThemeToggle from './ThemeToggle.astro'

import AboutMeIcon from '../icons/AboutMe.astro'
import BooksIcon from '../icons/Books.astro'
import ExperienceIcon from '../icons/Experience.astro'
import HomeIcon from '../icons/Home.astro'
import LogoIcon from '../icons/Logo.astro'
import ProyectsIcon from '../icons/Proyects.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const NAVs = [
    {
        title: t('nav.home'),
        link: '#home',
        icon: HomeIcon
    }, 
    {
        title: t('nav.education'),
        link: '#education',
        icon: BooksIcon
    },
    {
        title: t('nav.experience'),
        link: '#experience',
        icon: ExperienceIcon
    },
    {
        title: t('nav.projects'),
        link: '#projects',
        icon: ProyectsIcon
    },
    {
        title: t('nav.aboutme'),
        link: '#aboutme',
        icon: AboutMeIcon
    }
]
---

<header id="headerComponent" class="flex items-center justify-between fixed top-0 z-10 right-0 left-0 py-2 border-b-2 border-sky-700/90 dark:border-sky-400/90 dark:bg-none backdrop-blur-sm w-[1240px] mx-auto h-[82px]">
    
    <LogoIcon class="size-16" /> 

    <nav class="flex justify-center gap-x-4 md:gap-x-8 xl:gap-x-10 opacity-80">
        {
            NAVs.map(navItem => (  
                <NavItem link={navItem.link}>
                    <navItem.icon class="size-6"/>
                    {navItem.title} 
                </NavItem>   
            ))
        } 
    </nav>

    <ThemeToggle/>

    <LanguageDropdown/>

</header>