---
interface Props {
    link: string
}

const { link } = Astro.props;
---
<a href={link} class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center after:rounded-full">
    <span class="flex flex-row gap-x-2">
        <slot></slot>
    </span>
</a>