---
import Layout from '../../layouts/Layout.astro'

import AboutMe from '../../components/AboutMe.astro'
import CardContact from '../../components/CardContact.astro'
import CardContactMini from '../../components/CardContactMini.astro'
import CardProfilePhoto from '../../components/CardProfilePhoto.astro'
import CardLink from '../../components/CardLink.astro'
import CardSpan from '../../components/CardSpan.astro'
import CardSubtitle from '../../components/CardSubtitle.astro'
import CardTitle from '../../components/CardTitle.astro'
import Experiencie from '../../components/ExperienceTimeline.astro'
import Learning from '../../components/EducationTimeline.astro'
import Projects from '../../components/Proyects.astro'

import AboutMeIcon from '../../icons/AboutMe.astro'
import BooksIcon from '../../icons/Books.astro'
import ExperienceIcon from '../../icons/Experience.astro'
import ProjectsIcon from '../../icons/Proyects.astro'
import CardLocation from '../../components/CardLocation.astro'
import CardBadge from '../../components/CardBadge.astro'
import CardClock from '../../components/CardClock.astro'

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import CardLanguage from '../../components/CardSpan2.astro'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout 
	title="Omar Delgado López - porfolio"
	description="Emprega a Omar, futuro graduado para finais de xuño de 2024 en Enxeñaría de Tecnoloxías de Telecomunicación na Universidade de Vigo."
>
	<main>
		<section id="home" class="mx-auto w-18/20 md:w-[700px] lg:w-[980px] xl:w-[1240px] pt-28">
			<div class="animate-fade-left animate-ease-linear animate-duration-500 grid grid-cols-2 md:grid-cols-[273px_198px_198px] lg:grid-cols-[250px_130px_130px_130px_250px] xl:grid-cols-12 grid-rows-[60px_180px_50px_85px_50px_120px] sm:grid-rows-[60px_250px_50px_85px_50px_120px] md:grid-rows-[75px_225px_75px_50px_120px] lg:grid-rows-[75px_250px_100px_50px] gap-4 lg:gap-3 xl:gap-6">
				<CardBadge 
					link='https://www.linkedin.com/in/omar-d-l'
				/>

				<CardSpan />

				<CardClock />

				<CardContact />

				<CardContactMini />

				<CardLanguage />
				
				<CardLink />

				<CardLocation />

				<CardProfilePhoto 
					img='/me.webp'
				/>

				<CardSubtitle />

				<CardTitle 
					name='Omar Delgado'
				/>	
				
			</div>
			<a href="#education" class="hidden xl:flex">
				<div class="-mt-2 absolute flex justify-center bottom-1rem left-1/2 mr-2 w-6 h-10 px-2 py-3 border border-2 border-[#212121] dark:border-white rounded-full opacity-75">
					<div class="rounded-full mt-[0.5px] bg-[#212121] dark:bg-white w-[3px] h-[5px] scroll-animation">
					</div>
				</div>
			</a>
			
		</section>

		<section id="education" class="mx-auto w-18/20 md:w-[700px] lg:w-[980px] xl:w-[1240px] pt-24">
			
				<h2 class="text-3xl text-gray-800/80 dark:text-sky-300/80 duration-1000 font-semibold -ml-[5px] mb-5 flex gap-x-2 items-center">
					<BooksIcon class="size-8"/>
					{t('nav.education')}
				</h2>
				<Learning />
			
		</section>

		<section id="experience" class="mx-auto w-18/20 md:w-[700px] lg:w-[980px] xl:w-[1240px] pt-24">
			<h2 class="text-3xl text-gray-800/80 dark:text-sky-300/80 duration-1000 font-semibold -ml-[5px] mb-5 flex gap-x-2 items-center">
				<ExperienceIcon class="size-8"/>
				{t('nav.experience')}
			</h2>
			
			<Experiencie />
		</section>

		<section id="projects" class="mx-auto w-18/20 md:w-[700px] lg:w-[980px] xl:w-[1240px] pt-24">
			<h2 class="text-3xl text-gray-800/80 dark:text-sky-300/80 duration-1000 font-semibold -ml-[5px] mb-5 flex gap-x-2 items-center">
				<ProjectsIcon class="size-8"/>
				{t('nav.projects')}
			</h2>
			
			<Projects />
		</section>

		<section id="aboutme" class="mx-auto w-18/20 md:w-[700px] lg:w-[980px] xl:w-[1240px] pt-24">
			<h2 class="text-3xl text-gray-800/80 dark:text-sky-300/80 duration-1000 font-semibold -ml-[5px] mb-5 flex gap-x-2 items-center">
				<AboutMeIcon class="size-8"/>
				{t('nav.aboutme')}
			</h2>
			
			<AboutMe />
		</section>		
	</main>
</Layout>